body {
    background: black;
    color: #abcdef;
    padding-top: 20px;
}

.dg select {
    color: black;
    background-color: #dddddd;
}

.dg .title {
    font-size: 13px;
}

.dg .title.panel-enabled:not(.subfolder) {
    color: #abcdef;
}

.dg .title.panel-disabled:not(.subfolder) {
    color: #636363;
}

.dg input {
    line-height: normal !important;
}

.dg .selector {
    box-sizing: initial !important;
    margin-top: 22px !important;
}

.dg .cr.object {
    border-left: 3px solid #1ed36f;
}

.dg .subfolder {
    background-color: #1a1a1a !important;
    border-bottom: 1px solid #2c2c2c !important;
}

#container {
    background: #080808;
    width: 80%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border-right: 2px solid transparent;
}

#container:hover,
#container.ui-resizable-resizing {
    background: #0D0D0D;
    border-right: 2px solid #484848;
}

.target + .tooltip.top > .tooltip-inner {
    background: #337ab7
}

.target + .tooltip.top > .tooltip-arrow {
    border-top-color: #337ab7
}

.panel {
    display: inline-block;
    margin: 10px;
    padding: 0px 0px 10px 10px;
    vertical-align: top;
    background: #181818;
    border-radius: 10px;
    cursor: move;
    min-width: 275px;
    border: 3px solid transparent;
    box-sizing: border-box;
    opacity: 0.7;
}

.panel.panel-enabled {
    background: #242424;
    border-color: #323232;
    opacity: 1;
}

.panel.panel-enabled:hover {
    background: #2c2c2c;
}

.panel.panel-disabled {
    color: #666666;
    border: 3px solid #ff0000 !important;
}

.panel.panel-disabled:hover {
    opacity: 1;
}

.panel-enabled .status {
    color: #5cb85c;
}

.dg .title.panel-enabled:not(.subfolder)::after {
    /*
    content: ' \25B6';
    */
    font-family: 'Glyphicons Halflings';
    padding-left: 5px;
    content: '\e031';
    color: #5cb85c;
}

.dg .title.panel-disabled:not(.subfolder)::after {
    /*
    content: ' \25FC';
    color: #f0ad4e;
    */
    font-family: 'Glyphicons Halflings';
    padding-left: 5px;
    content: '\e074';
    color: #666666;
}

.panel-alert {
    color: #012345 !important;
    text-shadow: none;
    background-color: #d9534f !important;
}

.panel .time {
    white-space: nowrap;
    margin: 0;
    display: block;
    width: 100%;
}

.panel-body {
    margin-right: 10px;
    padding: 0;
    border-radius: 0;
}

.panel h3 {
    margin: 10px 17px 0px 0px;
    white-space: nowrap;
}

.panel h3 button {
    border-radius: 4px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid transparent;
    padding: 0 2px 0 1px;
    margin: 0;
}

.panel h3 button:hover {
    border: 1px solid #383838;
}

.panel h3 button:active {
    opacity: 0.7;
    border-radius: 4px;
}

.button-shadow {
    text-shadow: 2px 2px 4px #242424;
}

.panel-refresh {
    padding-left: 1px;
    padding-right: 5px;
}

.panel-close {
    font-size: 18px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid transparent;
    margin: 1px;
    padding: 0;
}

ul.target li {
    font-family: monospace;
    border: none;
    color: #bcdefa;
    padding: 0px 5px;
}

.map {
    min-width: 269px;
    min-height: 269px;
    width: 500px;
    height: 500px;
}

.graph {
    padding: 10px;
}

.graph-text {
    color: #abcdef;
    text-align: right;
}

.graph-y-labels {
    color: #abcdef;
    width: 30px;
    margin-right: 5px;
    height: 222px;
    display: inline-block;
    position: relative;
}

.graph-y-label {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: right;
}

.graph-bars {
    display: inline-block;
    width: 300px;
    height: 222px;
    background: #fff;
}

.graph-bar-col {
    width: 5px;
    height: 100%;
    float: left;
    position: relative;
    border-left: 1px solid #232323;
    box-sizing: border-box;
    background: #232323;
}

.graph-bar-col:hover {
    opacity: 0.8;
}

.graph-bar-col:hover .graph-bar-bottom,
.graph-bar-col:hover .graph-bar-top {
    border-bottom: 1px solid white;
}

.graph-threshold {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid transparent;
    opacity: 0.6;
}

.graph-bar-bottom,
.graph-bar-top {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #337ab7;
}

table.target {
    width: 100%;
}

.target th {
    color: #2e6da4;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.target th,
.target td {
    padding: 2px;
    border: 1px solid #2c2c2c !important;
}

.target pre {
    padding: 0;
    margin: 0;
    background: #181818;
    color: #bcdefa;
    border: none;
    font-size: 14px;
    font-family: monospace;
    border-radius: 0;
    word-wrap: normal;
}

.panel-placeholder {
    border: 3px dashed #6a6a6a;
}

.transparent {
    opacity: 0;
}

div.target {
    position: relative;
    min-width: 269px;
    min-height: 269px;
}

div.target.stream {
    margin-top: 21px;
}

div.target > img,
div.target > canvas {
    width: 100%;
    height: 100%;
}

canvas.grid {
    position: absolute;
    top: 0;
    left: 0;
}

.result-panel {
    background-color: #2c2c2c;
}

.target-container a, .result-panel label {
    color: #337ab7;
    font-weight: bold;
}

.target-container {
    margin-top: 5px;
    background: #181818;
}

label.error-message {
    color: #ff0000;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #545454;
    margin-top: 10px;
    margin-left: 10px;
}

label.success-message {
    color: #bcdefa;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #545454;
    margin-top: 10px;
    margin-left: 10px;
}

.form-results {
    white-space: pre-wrap;
    margin-top: 5px;
    color: #e8f7fa !important;
}

form input {
    margin-bottom: 5px;
    color: #2c2c2c;
    opacity: 1;
}

.form {
    overflow: auto;
}

form label {
    color: #bcdefa;
}

.inputs-group {
    margin-top: 5px;
    background: #181818;
    /*display: none;*/
}

.target-container:not(:empty) {
    border: 1px solid #2c2c2c;
}
