body {
    background: black;
    color: #abcdef;
    padding-top: 20px;
}

.dg select {
    color: black;
    background-color: #dddddd;
}

.dg .title {
    color: #abcdef;
    font-size: 13px;
}

.dg input {
    line-height: normal !important;
}

.dg .selector {
    box-sizing: initial !important;
    margin-top: 22px !important;
}

.dg .cr.object {
    border-left: 3px solid #1ed36f;
}

#container {
    background: #080808;
    width: 80%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border-right: 2px solid transparent;
}

#container:hover,
#container.ui-resizable-resizing {
    background: #0D0D0D;
    border-right: 2px solid #484848;
}

.panel {
    display: inline-block;
    margin: 10px;
    padding: 0px 0px 10px 10px;
    vertical-align: top;
    background: #181818;
    border-radius: 10px;
    cursor: move;
    min-width: 275px;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.panel:hover {
    background: #2c2c2c;
}

.panel-alert, .panel-alert:hover {
    color: #012345 !important;
    text-shadow: none;
    background-color: #d9534f !important;
}

.panel .time {
    white-space: nowrap;
    margin: 0;
    display: block;
    width: 100%;
}

.panel-body {
    margin-right: 10px;
    padding: 0;
    border-radius: 0;
}

.panel h3 {
    margin: 10px 17px 0px 0px;
    white-space: nowrap;
}

.panel button {
    border-radius: 4px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid transparent;
    padding: 0 2px 0 1px;
    margin: 0;
}

.panel h3 button:hover {
    border: 1px solid #383838;
}

.panel h3 button:active {
    opacity: 0.7;
    border-radius: 4px;
}

.button-shadow {
    text-shadow: 2px 2px 4px #242424;
}

.panel-refresh {
    padding-left: 1px;
    padding-right: 5px;
}

.panel-close {
    font-size: 18px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid transparent;
    margin: 1px;
    padding: 0;
}

.target {
    margin-top: 5px;
    background: #181818;
}

.target:not(:empty) {
    border: 1px solid #2c2c2c;
}

img.target {
    display: block;
    min-width: 269px;
    min-height: 269px;
    width: 100%;
}

ul.target li {
    font: monospace;
    border: none;
    color: #bcdefa;
    padding: 0px 5px;
}

canvas.target {
    min-width: 269px;
    min-height: 269px;
}

.map {
    min-width: 269px;
    min-height: 269px;
    width: 500px;
    height: 500px;
}

.graph {
    padding: 10px;
}

.graph-text {
    color: #abcdef;
    text-align: right;
}

.graph-y-labels {
    color: #abcdef;
    width: 30px;
    margin-right: 5px;
    height: 222px;
    display: inline-block;
    position: relative;
}

.graph-y-label {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: right;
}

.graph-bars {
    display: inline-block;
    width: 300px;
    height: 222px;
    background: #fff;
}

.graph-bar-col {
    width: 5px;
    height: 100%;
    float: left;
    position: relative;
    border-left: 1px solid #232323;
    box-sizing: border-box;
    background: #232323;
}

.graph-bar-col:hover {
    opacity: 0.8;
}

.graph-bar-col:hover .graph-bar-bottom,
.graph-bar-col:hover .graph-bar-top {
    border-bottom: 1px solid white;
}

.graph-threshold {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid transparent;
    opacity: 0.6;
}

.graph-bar-bottom,
.graph-bar-top {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #232323;
}

table.target {
    width: 100%;
}

.target th {
    color: #6789ef;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.target th,
.target td {
    padding: 2px;
    border: 1px solid #2c2c2c !important;
}

.target pre {
    padding: 0;
    margin: 0;
    background: #181818;
    color: #bcdefa;
    border: none;
    font-size: 14px;
    font-family: monospace;
    border-radius: 0;
    word-wrap: normal;
}

.panel-placeholder {
    border: 2px dashed #6a6a6a;
}

.transparent {
    opacity: 0;
}
