body {
    background: black;
    color: #abcdef;
    padding-top: 20px;
}

.dg select {
    color: black;
    background-color: #dddddd;
}

.dg .title {
    color: #abcdef;
    font-size: 13px;
}

#container {
    background: #080808;
    width: 80%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.container-resize {
    border-right: 5px double #535353;
}

.panel {
    display: inline-block;
    margin: 10px;
    padding: 0px 10px 10px 10px;
    vertical-align: top;
    background: #181818;
    border-radius: 20px;
    cursor: move;
    min-width: 262px;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.panel:hover {
    background: #2c2c2c;
}

.panel-alert, .panel-alert:hover {
    background: #d9534f;
}

.panel .time {
    white-space: nowrap
}

.panel-body {
    padding: 0;
    border-radius: 0;
}

.panel-body h3 {
    margin: 10px 15px 10px 0px;
    white-space: nowrap;
}

.panel-body button {
    border-radius: 4px;
    margin: 1px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid transparent;
    padding-left: 3px;
    padding-right: 5px;
}

.panel-body button:hover {
    border: 1px solid #383838;
}

.panel-body button:active {
    background-color: #181818;
    border-radius: 4px;
}

.button-shadow {
    text-shadow: 2px 2px 4px #242424;
}

.panel-refresh {
    padding-left: 1px;
    padding-right: 5px;
}

.panel-close {
    font-size: 18px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid transparent;
    margin: 0;
    padding: 0;
}

.panel-close:hover {
    border: 1px solid #383838;
}

.target:not(:empty) {
    border: 1px solid #2c2c2c;
}

img.target {
    display: block;
    min-width: 250px;
    min-height: 250px;
    margin: 5px;
}

ul.target li {
    font: monospace;
    border: none;
    background: #181818;
    color: #bcdefa;
    padding: 0px 5px;
}

.graph {
    background: #181818;
    padding: 3px;
}

.graph-text {
    color: #abcdef;
    text-align: right;
}

.graph-bars {
    width: 300px;
    height: 200px;
    background: #fff;
}

.graph-bar-col {
    width: 5px;
    height: 100%;
    float: left;
    position: relative;
    border-left: 1px solid #232323;
    box-sizing: border-box;
}

.graph-bar-col:hover {
    opacity: 0.8;
}

.graph-bar-col:hover .graph-bar {
    border-bottom: 1px solid white;
}

.graph-threshold {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid transparent;
    opacity: 0.6;
}

.graph-bar {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #232323;
}

.target pre {
    padding: 0;
    margin: 0;
    background: #181818;
    color: #bcdefa;
    border: none;
    font-size: 14px;
    font-family: monospace;
    border-radius: 0;
    word-wrap: normal;
}

.panel-placeholder {
    border: 2px dashed #6a6a6a;
}

.transparent {
    opacity: 0;
}
