body {
    /*background: #585858;*/
    color: #abcdef;
    padding-top: 20px;
}

/*.dg select {*/
/*color: black;*/
/*background-color: #dddddd;*/
/*}*/

/*.dg .title {*/
/*color: #abcdef;*/
/*font-size: 13px;*/
/*}*/

.dg input {
    line-height: normal !important;
}

.dg .selector {
    box-sizing: initial !important;
    margin-top: 22px !important;
}

.dg .cr.object {
    border-left: 3px solid #1ed36f;
}

.dg .subfolder {
    background-color: #1a1a1a !important;
    border-bottom: 1px solid #2c2c2c !important;
}

#container {
    /*background: #585858;*/
    width: 90%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-right: 2px solid transparent;
}

#container:hover,
#container.ui-resizable-resizing {
    /*background: #0D0D0D;*/
    /*border-right: 2px solid #484848;*/
}

.target + .tooltip.top > .tooltip-inner {
    background: #337ab7
}

.target + .tooltip.top > .tooltip-arrow {
    border-top-color: #337ab7
}

.panel {
    display: inline-block;
    margin: 10px;
    padding: 0 0 10px 10px;
    vertical-align: top;
    background: #181818;
    border-radius: 10px;
    cursor: move;
    min-width: 350px;
    border: 3px solid transparent;
    box-sizing: border-box;
}

.panel.panel-enabled {
    background: #242424;
    border-color: #323232;
}

/*.dg .title.panel-disabled:not(.subfolder)::after {*/
/*color: #666666;*/
/*content: "";*/
/*font-family: "Glyphicons Halflings";*/
/*padding-left: 5px;*/
/*}*/

/*.dg .panel-disabled:not(.subfolder) {*/
/*color: #666666;*/
/*border: medium solid #ff0000 !important;*/
/*}*/

.panel.panel-disabled {
    color: #666666;
    border: 3px solid #ff0000 !important;
}

.panel-enabled .status {
    color: #5cb85c;
}

.panel-alert, .panel-alert:hover {
    color: #f0f4f2 !important;
    text-shadow: none;
    /*border: medium solid #a94442 !important;*/
    background-color: #a94442 !important;
}

/*.dg .panel-alert {*/
/*color: #f0f4f2 !important;*/
/*text-shadow: none;*/
/*!*border: medium solid #a94442 !important;*!*/
/*background-color: #a94442 !important;*/
/*}*/

.panel-enabled, .panel-enabled:hover {
    /*color: #fbfffd !important;*/
    text-shadow: none;
    /*border: medium solid #31708f !important;*/
}

.dg .panel-enabled:not(.subfolder)::before {
    color: #5cb85c;
    /*color: #31708f;*/
    content: "";
    font-family: "Glyphicons Halflings";
    padding-right: 5px;
}

.panel .time {
    white-space: nowrap;
    margin: 0;
    display: block;
    width: 100%;
}

.panel-body {
    margin-right: 10px;
    padding: 0;
    border-radius: 0;
}

.panel h3 {
    margin: 10px 17px 0 0;
    white-space: nowrap;
}

.panel h3 button {
    border-radius: 4px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid transparent;
    padding: 0 2px 0 1px;
    margin: 0;
}

.panel h3 button:hover {
    border: 1px solid #383838;
}

.panel h3 button:active {
    opacity: 0.7;
    border-radius: 4px;
}

.button-shadow {
    text-shadow: 2px 2px 4px #242424;
}

.panel-refresh {
    padding-left: 1px;
    padding-right: 5px;
}

.panel-close {
    font-size: 18px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid transparent;
    margin: 1px;
    padding: 0;
}

ul.target li {
    font-family: monospace;
    border: none;
    color: #bcdefa;
    padding: 0 5px;
}

.map {
    min-width: 269px;
    min-height: 269px;
    width: 500px;
    height: 500px;
}

.graph {
    padding: 10px;
}

.graph-text {
    color: #abcdef;
    text-align: right;
}

.graph-y-labels {
    color: #abcdef;
    width: 30px;
    margin-right: 5px;
    height: 222px;
    display: inline-block;
    position: relative;
}

.graph-y-label {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: right;
}

.graph-bars {
    display: inline-block;
    width: 300px;
    height: 222px;
    background: #fff;
}

.graph-bar-col {
    width: 5px;
    height: 100%;
    float: left;
    position: relative;
    border-left: 1px solid #232323;
    box-sizing: border-box;
    background: #232323;
}

.graph-bar-col:hover {
    opacity: 0.8;
}

.graph-bar-col:hover .graph-bar-bottom,
.graph-bar-col:hover .graph-bar-top {
    border-bottom: 1px solid white;
}

.graph-threshold {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid transparent;
    opacity: 0.6;
}

.graph-bar-bottom,
.graph-bar-top {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #232323;
}

table.target {
    width: 100%;
}

.target th {
    color: #337ab7;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.target th,
.target td {
    padding: 2px;
    border: 1px solid #2c2c2c !important;
}

.target pre {
    padding: 0;
    margin: 0;
    background: #181818;
    color: #bcdefa;
    border: none;
    font-size: 14px;
    font-family: monospace;
    border-radius: 0;
    word-wrap: normal;
    white-space: pre-wrap;
}

.panel-placeholder {
    border: 3px dashed #6a6a6a;
}

.transparent {
    opacity: 0;
}

div.target {
    position: relative;
    min-width: 269px;
    min-height: 269px;
}

div.target.stream {
    margin-top: 21px;
}

div.target > img,
div.target > canvas {
    width: 100%;
    height: 100%;
}

.clear {
    clear: both;
}

canvas.grid {
    position: absolute;
    top: 0;
    left: 0;
}

html .ui-first-child a {
    font-weight: normal;
}

.result-panel {
    background-color: #2c2c2c;
    width: 380px;
}

.target-container a, .result-panel label {
    color: #337ab7;
    font-weight: bold;
}

.target-container {
    margin-top: 5px;
    background: #181818;
}

label.error-message {
    color: #ff0000;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #545454;
    margin-left: 10px;
    margin-top: 10px;
}

label.success-message {
    color: #bcdefa;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #545454;
    margin-top: 10px;
    margin-left: 10px;
}

.form-results {
    white-space: pre-wrap;
    margin-top: 5px;
    color: #e8f7fa !important;
    overflow: auto;
    max-height: 250px;
}

form input {
    margin-bottom: 5px;
    color: #2c2c2c;
}

.form {
    overflow: auto;
}

form label {
    color: #bcdefa;
}

.inputs-group {
    margin-top: 5px;
    background: #181818;
    /*display: none;*/
}

.target-container:not(:empty) {
    border: 1px solid #2c2c2c;
}

.ui-btn-active {
    background: none !important;
    color: #333 !important;
    border: none !important;
}

.form-results::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #c0c0c0;
}

.form-results::-webkit-scrollbar {
    width: 12px;
    /*background-color: #c0c0c0;*/
}

.form-results::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}